<nav class="navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">BLOG</a></li>
        <li><a href="#">DEMO</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="welcome">
  <p>SOMETHING NEW IS COMING PLEASE COME BACK SOON!
    IF YOU WOULD LIKE TO BE NOTIFIED WHEN IT LAUNCHES
    PLEASE ENTER YOUR EMAIL ADDRESS BELOW.</p>
  </div>
</div><!-- Welcome div -->
