<div id="header">

<div class="navb logo">
  <ul class="nav nav-pills pull-left">
    <a href="#"> <h3>INTUNE2</h3> </a>
  </ul>

  <ul class="nav  nav-pills pull-right">
    <li><a href="#">HOME</a></li>
    <!-- <li><a href="#">DEMO</a></li> -->
    <!-- Uncomment ^ to enable DEMO In Nav Bar -->

    <li><a href="#">BLOG</a></li>
  </ul>
</div>

<div class="container centered">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="welcome" style="text-align: center; font-size: 1.3em;">
        <p>SOMETHING NEW IS COMING PLEASE COME BACK SOON! <br />
          IF YOU WOULD LIKE TO BE NOTIFIED WHEN IT LAUNCHES
          PLEASE ENTER YOUR EMAIL ADDRESS BELOW.</p>
        </div> <!--Welcome Text -->

      <center>

        <form class="form-group frm" action="https://docs.google.com/forms/d/19KemLyM8SaVJ6ldfGSGNkpBeMFJhISTbZ7YEoGyO_wM/formResponse" method="POST" target="_blank">
          <input type="email" class="form-control" placeholder="ENTER YOUR EMAIL">
          <br />
          <button type="submit" class="btn btn-primary">NOTIFY ME</button>
        </form>





        <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css" class="frm">
<style type="text/css">
</style>
<div id="mc_embed_signup">
<form action="//wordpress.us10.list-manage.com/subscribe/post?u=83b282767f41d35597b80bba4&amp;id=8d5712f7b7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">ENTER YOUR EMAIL</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_83b282767f41d35597b80bba4_8d5712f7b7" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->







      </center>
    </div> <!--/content -->
  </div><!--/row-->
</div><!--/container-->


</div><!--Header-->


<!--
<div class="works">
  <center>
    <h3> HOW IT WORKS </h3>
  </center>
</div> <!-- How it works -->

<!--
<div class="testimonials">
  <center>
  <h3> TESTIMONIALS </h3>
  </center>


  <center>
    <table width="400" class="table gray">
      <tr>
        <th> <p>Bacon ipsum dolor amet filet mignon picanha ground round, brisket kevin pig cupim pork loin turducken strip steak chicken short loin hamburger. </p> <b>-Anon</b></th>
        <th> <p>Doner kielbasa shank jowl meatball spare ribs drumstick pork loin short ribs rump. Pancetta strip steak shoulder leberkas tail pork belly bacon cupim fatback.</p> <b>-Anon</b></th>
        <th> <p>Meatloaf chuck venison pork belly turkey pancetta chicken drumstick short loin short ribs t-bone andouille prosciutto pork ham hock.</p> <b>-Anon</b></th>
      </tr>
    </table>
  </center>  -->

  <!-- table center -->

</div> <!-- Testimonials -->

  <!-- <div id="footer">
    <center>
    <p style="color:white;">IF YOU WOULD LIKE TO BE NOTIFIED WHEN IT LAUNCHES, PLEASE
      ENTER YOUR EMAIL ADDRESS OR FOLLOW US ON OUR SOCIAL NETWORKS</p>

      <center>
        <form class="form-group frm" action="https://docs.google.com/forms/d/19KemLyM8SaVJ6ldfGSGNkpBeMFJhISTbZ7YEoGyO_wM/formResponse" method="POST" target="_blank">
          <input type="email" class="form-control" placeholder="ENTER YOUR EMAIL">
          <br />
          <button type="submit" class="btn btn-primary">NOTIFY ME</button>
        </form>
      </center>

    <h1> TEST </h1>
      <form class="form-email" action="https://docs.google.com/forms/d/19KemLyM8SaVJ6ldfGSGNkpBeMFJhISTbZ7YEoGyO_wM/formResponse" method="POST" target="_blank">
        <p>
        <input type="email" name="entry.1280681504" placeholder="Email Address"><input type="submit" value="Keep me posted"><input type="hidden" value="1" name="embed">
        </p>
      </form> -->


    <center>
  </div>
