<div id="header">

  <div class="row mt logo">

    <div class="col-sm-3">
      <i class="ion-ios7-monitor-outline"></i>
      <h3>INTUNE2</h3>
    </a>

  </div><!--Logo-->

  <div class="col-sm-3">
    <h3>BLOG</h3>
  </a>
</div><!--Blog Div-->

<div class="col-sm-3">
  <h3>DEMO</h3>
</a>
</div><!--Demo Div-->

</div><!--/row-->




<br />  <br />

<div class="container centered">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="welcome" style="text-align: center; font-size: 1.3em;">
        <p>SOMETHING NEW IS COMING PLEASE COME BACK SOON! <br />
          IF YOU WOULD LIKE TO BE NOTIFIED WHEN IT LAUNCHES
          PLEASE ENTER YOUR EMAIL ADDRESS BELOW.</p>
        </div>
      </div>
  </div><!--/row-->
  <br />


</div><!--/container-->


</div><!--Header-->
